<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="globalVariables" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">ControlPlane_BaseUrl</value>
        <value name="value">https://presalesglobacpdev.apicp-az-eu.webmethods.io</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">ControlPlane_Username</value>
        <value name="value">partneruser</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">ControlPlane_Password</value>
        <value name="value">gvhandle.ControlPlane_Password</value>
        <value name="isSecure">true</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Kong_HostUiUrl</value>
        <value name="value">http://localhost:8001</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Kong_Username</value>
        <value name="value"></value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Kong_Password</value>
        <value name="value">gvhandle.Kong_Password</value>
        <value name="isSecure">true</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Kong_RuntimeType</value>
        <value name="value">7a9e0625-3217-4b36-a236-31a51241f6af</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Kong_Location</value>
        <value name="value">Jakarta</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Kong_Region</value>
        <value name="value">apac</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Kong_NameOnControlPlane</value>
        <value name="value">Kong Ar01</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Kong_DeploymentType</value>
        <value name="value">ON_PREMISE</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Kong_HeartBeathIntervalSec</value>
        <value name="value">120</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_ControlPlaneId</value>
        <value name="value">6421a25b-018c-4dbd-aecc-3021cc4709ea</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_BaseUrl</value>
        <value name="value">https://us.api.konghq.com</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_RuntimeType</value>
        <value name="value">7a9e0625-3217-4b36-a236-31a51241f6af</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_Token</value>
        <value name="value">gvhandle.KongKonnect_Token</value>
        <value name="isSecure">true</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_HostUiUrl</value>
        <value name="value">https://cloud.konghq.com/us/gateway-manager</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_Location</value>
        <value name="value">Jakarta</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_Region</value>
        <value name="value">apac</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_kanalyticsPath</value>
        <value name="value">/kanalytics/v4/explore</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_kanalyticsTimeRange</value>
        <value name="value">15m</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_NameOnControlPlane</value>
        <value name="value">KongKonnect Ar01</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_DeploymentType</value>
        <value name="value">PUBLIC_CLOUD</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">KongKonnect_HeartBeathIntervalSec</value>
        <value name="value">120</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Runtime_Id_KongKonnect</value>
        <value name="value">none</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">Runtime_Id_Kong</value>
        <value name="value">none</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">AgentScheduler_S3_S5</value>
        <value name="value"></value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">AgentScheduler_S4</value>
        <value name="value"></value>
        <value name="isSecure">false</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
